.container {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.half-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 100%;
  border-radius: 6px;
  background: #ffa500;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-submit-btn {
  margin: 0 10px 10px 10px;
  padding: 8px;
  font-size: 1rem;
  background: #888888;
  border-radius: 6px;
}
